*{
margin: 0px;
padding: 0px 0px 0px 4px;
color: #262626
}


header {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 8px;
  background-color: #F5F5F5;
  margin-bottom: 8px;
}


.name {
font-weight: bold;
font-family: Arial, sans-serif;
font-size: 30px;
margin: 0px;
padding: 0px 0px 0px 0px;
color: #262626;
}


.contentbody {
  position: relative;
  width: 100%;
  margin-top: 5px;
  background-color: #F5F5F5;
  margin-bottom: 5px;
  padding: 8px 0px 8px 0px;
  color: #262626;
 }

 li{
margin-left:18px;
 }

 #contact {
  padding: 0px 0px 0px 0px;
  color: #262626
 }

a:{
font-weight:bold;
font-family: Arial, sans-serif;
font-size: 15px;
color: #262626;
}

a:hover{
font-weight:bold;
text-decoration: underline;
font-family: Arial, sans-serif;
font-size: 15px;
margin: 0px;
padding: 0px 0px 0px 0px;
color: #0099ff;
}

p {
font-weight: normal;
font-family: Arial, sans-serif;
font-size: 15px;
margin: 0px;
padding: 0px 0px 12px 0px;
color: #262626;
}

h1 {
font-weight: bold;
font-family: Arial, sans-serif;
font-size: 19px;
margin: 0px;
padding: 0px 0px 4px 0px;
color: #262626;
}

h2 {
font-weight: bold;
font-family: Arial, sans-serif;
font-size: 16px;
padding: 0px 0px 0px 0px;
color: #262626;
}

h3 {
font-weight: bold;
font-family: Arial, sans-serif;
font-size: 15px;
margin: 0px;
padding: 0px 0px 0px 0px;
color: #262626;
}
